<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <a class="navbar-brand mr-3 ml-3"><img src="@/assets/images/online-library.png" width="110" height="50" class=""></a>
        <span class=" mr-auto"> <h3>Library Management System </h3></span>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="collapse_target">
        </div> 
      </nav>
</template>