<template>
    <div class="sidenav" id="app">
      <center>
          <img src="@/assets/images/profile.jpeg" class="profile_image" alt="">
          <h5>Administrator</h5>
          
      </center>
      <hr>
        <router-link to="/" :class="getRoute == '/' ? 'active': ''" >  
       
          <div class="element-container ">
            <div class="element">
              <img src="@/assets/images/home.png" class="ml-3 position-absolute">
              <p class=" ml-6 option" href="">Dashboard</p>
            </div>
          </div>
        
        </router-link>
        <router-link to="/patron" :class="getRoute == '/patron' ? 'active' : ''">
        <a href="patron.html" class="">
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/teamwork.png" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Students Management</p>
            </div>
          </div>
        </a>
        </router-link>
        <router-link to="/books" :class="getRoute == '/books' ? 'active' : ''">
        <a href="books.html" class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/books.png" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Books Management</p>
            </div>
          </div>
        </a>
        </router-link>

      <router-link to="/borrowed/book" :class="getRoute == '/borrowed/book' ? 'active' : ''">
        <a  class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/return.png" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Borrowed Books</p>
            </div>
          </div>
        </a>
        </router-link>
        <router-link to="/returned/book" :class="getRoute == '/returned/book' ? 'active' : ''">
        <a  class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/books.png"  class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Returned Books</p>
            </div>
          </div>
        </a>
        </router-link>
         <router-link to="/info" :class="getRoute == '/info' ? 'active' : ''">
        <a  class="" >
          <div class="element-container">
            <div class="element">
              <img src="@/assets/images/info.png" class="ml-3 position-absolute">
              <p class="ml-6 option" href="">Info / About</p>
            </div>
          </div>
        </a>
        </router-link>
        
      </div>
</template>

<script>
export default {

  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>