<template>
    <div class="sidenav" id="app">
      <center>
          <img src="@/assets/images/profile.jpeg" class="profile_image" alt="">
          <h5>Administrator</h5>
          
      </center>
      <hr>
        <router-link to="/student" :class="getRoute == '/' ? 'active': ''" >  
       
          <div class="element-container ">
            <div class="element">
              <img src="@/assets/images/home.png" class="ml-3 position-absolute">
              <p class=" ml-6 option" href="">Dashboard</p>
            </div>
          </div>
        
        </router-link>
        
      </div>
</template>

<script>
export default {

  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>