<template>
    <div id="app">
        
            <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
        
        <router-view @authenticated="setAuthenticated" />
    </div>
  
</template>

<style>

</style>

<script>
import {toast} from '@/assets/js/toast/vue-toast'

export default {
    mixins: [toast],
  data() {
            return {
                authenticated: false,
                mockAccount: {
                    username: "admin@example.com",
                    password: "password"
                },
                studentAccount: {
                    username: "edsunjcaldoza@gmail.com",
                    password: "password"
                }
            }
        },
        mounted() {
            if(!this.authenticated) {
                this.$router.replace({ name: "login" });
            }
        },
        methods: {
            setAuthenticated(status) {
                this.authenticated = status;
            },
            logout() {
                this.authenticated = false;
                this.showErrorToast('Logged Out Successfully')
            }
        }
};

</script>