<template>
    <div id="app">
      <div class="main">
      <SideBar />
    <NavBar />
    <div class="table_area">
        <div class="container pt-4">
          <h3 class="">DashBoard</h3>
          <div class="row mt-5">
            <div class="col-10 col-sm-10 col-lg-6 pb-3">  
              
              <div class="card" style="width: 32rem;">
                <div class="card-body">
                  
                  <h5 class="card-title">Borrowed and Returned Books</h5>
                  <div class="d-flex align-items box">
                    <canvas id="barChart" ref="barChart" ></canvas>     
                       
                  </div>
                  <p class="text-muted mt-1">Monthly</p>
                </div>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
              <div class="card" style="width: 32rem; height: 22.2rem;">
                <div class="card-body">
                  <h5 class="card-title">Popular Books Genre</h5>
                  <canvas class="" id="pieChart" width="280"></canvas>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import SideBar from "@/components/navigations/SideBar";
import NavBar from "@/components/navigations/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
    data(){
        return {
    }
    },
    methods: {

    },
    mounted() {
        document.title = "Dashboard"
        this.$nextTick(() =>{
            var ctx = this.$refs.barChart.getContext("2d");
            new Chart(ctx, {
                 type: 'bar',
                 data: {
    
                labels: ['No. of Borrowers'],
                 datasets: [
                {
                 label: 'Borrowed Books',
                 data: [7],
                  backgroundColor: '#49A9EA',
      
                },
                {
                 label: 'Returned Books',
                 data: [5],
                 backgroundColor: '#36CAAB',
                 }
                 ],
                 },
                 options: {
                 responsive: true,
                 legend: {
                 position: 'right',
                 align: 'start',
                 },
                  scales: {
                yAxes: [{
                 ticks: {
                beginAtZero: true
                },
        
                }],
               xAxes: [{
                gridLines: {
                   display: false
                 }
             }]
              }
             }
            });

        var pie = document.getElementById('pieChart').getContext('2d');
        new Chart(pie, {
  type: 'doughnut',
  data: {
    datasets: [{
        data: [23.1, 38.5, 7.7, 15.4,15.4],
        backgroundColor: [
          '#49A9EA', '#36CAAB', '#8789C0','#896978', '#fb8b24'
        ],
    }],

    labels: [
        'History',
        'Sci-Fi',
        'Information Technology',
        'Algebra',
        'English Literature',
    ]
  },
  options: {
    legend: {
      position: 'right',
      align: 'start',
    }
  }
});

        });
    },
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>