<template>
    <div id=app>
      <div class="main">
      <SideBar />
      <NavBar />
    <div class="table_area">
        <div class="container pt-4">
        <h3 class="">Reports (Returned Books Log)</h3>
        <div class="row mt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row mb-2">
            </div>
            <div class="card mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="head">
                    <tr>
                      <th scope="col">Student</th>
                      <th scope="col">Book</th>
                      <th scope="col">Copies</th>
                      <th scope="col">Borrowed Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  v-for="(returned, i) in returnedbook" :key="i" >
                      <td>{{
                          returned.patron.first_name +
                          " " +
                          returned.patron.middle_name +
                          " " +
                          returned.patron.last_name
                        }}</td>
                      <td>{{returned.book.name}}</td>
                      <td>{{returned.copies}}</td>
                      <td>{{returned.book.created_at}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2"></div>
      </div>
    </div>
    </div>
    </div>
</template>

<script>
import SideBar from "@/components/navigations/SideBar";
import NavBar from "@/components/navigations/NavBar";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  components: { SideBar, NavBar },
    methods: {
      data() {
        return{
          returnedbooks: '',
        };
      },
    ...mapActions("returned", [
        "getReturnedBook",
        ]),
    ...mapGetters("returned", ["getReturnedBooksData"]),
    },
    computed: {
        ...mapState("returned", ["returnedbook"]),
    },
    mounted() {
        this.getReturnedBook();
    },
}
</script>