<template>
  <div id="app">
    <div class="main">
    <SideBar />
    <NavBar />
    <div class="table_area">
      <div class="container pt-4">
        <h3 class="">LIBRARY MANAGEMENT SYSTEM</h3>
         A Library Management System is a software built to handle the primary housekeeping functions of a library. Libraries rely on library management systems to manage asset collections as well as relationships with their members. Library management systems help libraries keep track of the books and their checkouts, as well as members’ subscriptions and profiles.
        Library management systems also involve maintaining the database for entering new books and recording books that have been borrowed with their respective due dates.
        <h3 class="">Features</h3>
        1. Add/Remove/Edit book: To add, remove or modify a book or book item.<br>
        2. Check-out book: To borrow a book from the library.<br>
        3. Return a book: To return a book to the library which was issued to a member.<br>
        4. Record borrowed books log<br>
        5. Record Returned Books log <br>
        <h3 class="">Developers</h3>
        1. Abueg, Abbie<br>
        2. Berongoy, Ma. Desiree<br>
        3. Caldoza, Edsun J.<br>
        4. Picardal, Rille<br>

        <div class="row mt-2"></div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import SideBar from "@/components/navigations/SideBar";
import NavBar from "@/components/navigations/NavBar";
import { toast } from "@/assets/js/toast/vue-toast";
export default {
  components: { SideBar, NavBar },
  mixins: [toast],
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>