<template>
<body class="login-form">
    
<div class="vue-tempalte">
    <!-- Navigation -->
    <nav class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
        <a class="navbar-brand float-left" href="https://www.positronx.io" target="_blank">
           Library Management System
        </a>
        <a class="navbar-brand float-left" href="https://www.positronx.io" target="_blank">
           Laravel Application
        </a>
      </div>
    </nav>

    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
        <form>
            <h3>Sign In</h3>

            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control form-control-lg" name="username" v-model="input.username" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" name="password" v-model="input.password" />
            </div>

            <button type="submit" class="btn btn-dark btn-lg btn-block" v-on:click="login()">Sign In</button>

            <p class="forgot-password text-right mt-2 mb-4">
                <router-link to="/forgot-password">Forgot password ?</router-link>
            </p>

            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>

        </form>
        </div>
      </div>
    </div>
    </div>
</body>

</template>

<script>
import {toast} from '@/assets/js/toast/vue-toast'
    export default {
        name: 'Login',
        mixins: [toast],
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.showSuccessToast('Logged in Successfully')
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "Dashboard" });
                    }
                    else if(this.input.username == this.$parent.studentAccount.username && this.input.password == this.$parent.studentAccount.password) {
                        this.showSuccessToast('Logged in Successfully')
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "Student Dashboard" });
                    }
                    
                    else {
                        console.log("The username and / or password is incorrect");
                        this.showErrorToast('The username and / or password is incorrect')
                    }
                } else {
                    console.log("A username and password must be present");
                    this.showErrorToast('Please enter username and password')
                }
            }
        }
    }
</script>

<style scoped>

</style>