<template>
    <div id=app>
      <div class="main">
      <SideBar />
      <NavBar />
      <div class="table_area">
        <div class="container pt-4">
        <h3 class="">Reports (Borrowed Books Log)</h3>
        <div class="row mt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row mb-2">
            </div>
            <div class="card mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="head">
                    <tr>
                      <th scope="col">Borrower</th>
                      <th scope="col">Book</th>
                      <th scope="col">Copies</th>
                      <th scope="col">Borrowed Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  v-for="(borrowed, i) in borrowedbook" :key="i" >
                      <td>{{
                          borrowed.patron.first_name +
                          " " +
                          borrowed.patron.middle_name +
                          " " +
                          borrowed.patron.last_name
                        }}</td>
                      <td>{{borrowed.book.name}}</td>
                      <td>{{borrowed.copies}}</td>
                      <td>{{borrowed.book.created_at}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2"></div>
      </div>
      </div>
    </div>
    </div>
</template>

<script>
import SideBar from "@/components/navigations/SideBar";
import NavBar from "@/components/navigations/NavBar";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  components: { SideBar, NavBar },
    methods: {
      data() {
        return{
          borrowedbooks: '',
        };
      },
    ...mapActions("borrowed", [
        "getBorrowedBook",
        ]),
    ...mapGetters("borrowed", ["getBorrowedBooksData"]),
    },
    computed: {
        ...mapState("borrowed", ["borrowedbook"]),
    },
    mounted() {
        this.getBorrowedBook();
    },
}
</script>