<template>
    <div id="app">
      <div class="main">
      <SideBarStudent />
    <NavBar />
    <div class="table_area">
        <div class="container pt-4">
          <h3 class="">Books Available</h3>
          <div class="row mt-5">
            <div class="table_container">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class= "row mb-2">
              <div class="col justify-content-start ml-1">
              </div>
            </div>
              <div class="card mb-4 card-shadow">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="head">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Copies</th>
                        <th scope="col">Category</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(book, i) in books" :key="i">
                        <td class=""><br>{{ book.name }}</td>
                        <td><br>{{ book.author }}</td>
                        <td><br>{{ book.copies }}</td>
                        <td><br>{{ book.category.category }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body pl-5 pr-5">
              <form>
                
                <center><img src="@/assets/images/plus.png" height="50" class="mt-3 ">
                <h5 class="mt-2">Add Books</h5></center>

                <br>
                <div class="form-group">
                  <input type="text" v-model="input.name" class="form-control" id="name" placeholder="Book Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.author" class="form-control" id="author" placeholder="Author">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <div class="form-group">
                  <select id="customSelect" v-model="input.category_id" name="cars" class="custom-select" placeholder="--Select Category--">
                  <option selected disabled>Please select a category</option>
                  <option :value="categ.id" v-for="(categ, i) in categories" :key="i">{{categ.category}}</option>
                </select>
                </div>
                <br>
                <center><button type="button" class="btn btn-sm btn-success" v-on:click="addBook" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button></center>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body pl-5 pr-5">
              <form>
                
                <center><img src="@/assets/images/books.png" height="50" class="mt-3 ">
                <h5 class="mt-2">Edit Books</h5></center>

                <br>
                <div class="form-group">
                  <input type="text" v-model="input.name" class="form-control" id="name" placeholder="Book Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.author" class="form-control" id="author" placeholder="Author">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <div class="form-group">
                  <label for="customSelect">Category</label>
                  <select id="customSelect" v-model="input.category_id" name="cars" class="custom-select">
                   <option selected disabled>Please select a category</option>
                   <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                  </select>
                </div>
                <br>
                <center><button type="button" class="btn btn-sm btn-success" v-on:click="bookUpdate" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button></center>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="borrowModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body pl-5 pr-5">
              <form>
                
                <center><img src="@/assets/images/books.png" height="50" class="mt-3 ">
                <h5 class="mt-2">Borrow Books</h5></center>

                <br>
                <div class="form-group">
                  <input type="text" v-model="book_data.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <div class="form-group">
                  <label for="customSelect">Patron</label>
                  <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
                    <option selected disabled>Please select a patron (optional)</option>
                    <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
                  </select>
                </div>
                <br>
                <center><button type="button" class="btn btn-sm btn-success" v-on:click.prevent="borrowBook"  data-dismiss="modal">Borrow</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button></center>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>

  <div id="returnModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body pl-5 pr-5">
              <form>
                
                <center><img src="@/assets/images/books.png" height="50" class="mt-3 ">
                <h5 class="mt-2">Return Books</h5></center>

                <br>
                <div class="form-group">
                  <input type="text" v-model="book_data.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <div class="form-group">
                  <label for="customSelect">Patron</label>
                  <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
                    <option selected disabled>Please select a patron (optional)</option>
                    <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
                  </select>
                </div>
                <br>
                <center><button type="button" class="btn btn-sm btn-success" v-on:click.prevent="returnedBook"  data-dismiss="modal">Return</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button></center>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
              <button type="button" class="btn btn-sm btn-danger" v-on:click="bookDelete" data-dismiss="modal"> Yes </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</template>

<script>
import NavBar from "@/components/navigations/NavBar";
import SideBarStudent from "@/components/navigations/SideBarStudent";
import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/vue-toast'
export default {
  components: { NavBar, SideBarStudent },
    mixins: [toast],
    name: "App",
    
  data(){
    return {
      editBook: {},
      id: '',
      input: {
          name: "",
          author: "",
          copies: "",
          category_id: "",
      },
      book_data: { book_id: '', copies: '', patron_id: ''},
      deleteIndex: "",
      editIndex: "",
      validated: false,
    };
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions('books', ['getBooks', "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),
    showError(data){
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0])
      }
    },
    showAddModal() {
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(books, i) {
      this.editIndex = i;
      this.input = {...books}
      this.$bvModal.show("editModal");
    },
    showBorrowBook(){

    },
    showReturnedBook(){

    },
    deleteBook() {
      this.$delete(this.books, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
      this.showErrorToast('Book Deleted successfully!')
    },
    async addBook(){
      this.validateFields(this.input)
      if(!this.validated)
        return;

      const res = await this.storeBook({...this.input})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      }
    },
    async borrowBook(){
      if(this.book_data.patron_id == ''){
        return this.showErrorToast('Patron is required')
      }
      const res = await this.createBorrowed({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccessToast('Book borrowed successfully!')
      }
      else{
        this.showError(res.data)
      }
    },

    async returnedBook(){
      if(this.book_data.patron_id == ''){
        return this.showErrorToast('Patron is required')
      }
      await this.createReturned({data: this.book_data, index: this.id})
      return this.showSuccessToast('Book returned successfully!')
    },
    async bookUpdate(){
      this.validateFields(this.input)
      if(!this.validated)
        return;

      const res = await this.updateBook({index: this.editIndex, data: this.input})
      if(res.status == 200){
        this.showSuccessToast('Book updated successfully!')
        this.$bvModal.hide('editModal')
      }
      else{
        this.showError(res.data)
      }
    },
    async confirmSave(){
      const res = await this.storeBook({...this.data})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.SuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      } 
    },
    
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
      this.$bvModal.hide('deleteModal');
      
    },

    validateFields(books){
      let errors = []
      this.validated = false;

      if(books.name == '')
        errors.push('Name of book is required!')
      if(books.author == '')
        errors.push('Author is required!')
      if(books.copies == '')
        errors.push('Copies of book is required')
      if(books.copies < 0)
        errors.push('Copies of book should not be negative')
      if(books.category_id == '')
        errors.push('Category is required!')

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }

      this.validated = true
    },
  },
  
  mounted() {
      this.getCategories();
      this.getBooks();
      this.getPatrons();
  },
  };
</script>

<style>
@import "../../../assets/css/style.css";
</style>