html {
  height: 100%;
}

body {
  line-height: 1.4rem !important;
  font-family: 'Open Sans', sans-serif !important;
}


.navbar{
  background: #053757;
  position: absolute;
  margin-bottom: 20px;
  box-shadow: 0px .5px 5px #000;
}
.navbar h3{
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
}

.navbar span{
  color: #fff;
  font-size: 25px;
}

.navbar-nav a{
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 2;
  top: 66.4px;
  left: 0;
  background: rgb(238, 237, 237);
  overflow-x: hidden;
  transition: all 400ms;
  box-shadow:inset 5px 10px 10px rgba(0, 0, 0, 0.075),  5px 0 10px rgba(100, 100, 100, 0.6);
  
}
.sidenav hr{
  width: 200px;
}
.sidenav img{
  margin-top: -6px;
  height: 15px;
}
.sidenav .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.sidenav a:hover{
  background: rgb(182, 181, 194);
  text-decoration: none;
  color: rgb(95, 88, 88);
}
.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(71, 71, 71);
  display: block;
  font-family: 'Calibri', sans-serif;
  transition: all 250ms;
}
.sidenav h5{
  color: rgb(71, 71, 71);
  margin-bottom: 10px;
  font-size: 18px;
}

.sidenav a:hover {
  color: #dadada;
}
.table_area h3{
  font-size: 27px;
  margin-top: 25px;
  color: rgb(78, 78, 78);
  text-transform: uppercase;
  font-weight: bold;
}
.table_container{
  padding:2%;
  background-color: rgb(238, 237, 237);
  width: 100%;
  height: 148%;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.6);
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.6);
}

.element-container {
  width: 100%;
  height: 66px;
  position: relative; 
}

.not-active:hover{
  background: #364e7542;
  transition: all 500ms;
}


.element img{
  position: absolute;
  margin-top: 4.5%;
  height: 30px;
}

.element p{
  position: absolute;
  margin-top: 8%;
  margin-left: 75px;
}

.active {
  position: relative;
  color: rgb(255, 255, 255);
  background: rgb(238, 237, 237);
  transition: all 500ms;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.418);
}


.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

.active::after {
  content: "";
  top: 0;
  right: 0;
  width: 4.5%;
  position: absolute;
  background: #053757;
  height: 100%;
}
.active-management::after {
  content: "";
  top: 0;
  right: 0;
  width: 4.5%;
  position: absolute;
  background: #45b6fe;
  height: 100%;
}

.main {
  margin-left: 280px;
  padding: 0px 10px;
  margin-top: 5rem;
}

.main .text-muted{
  margin-left: 135px;
  font-style: italic;
}

.text-records{
  font-style: italic;
  transform-origin: 0 0;
  transform: rotate(270deg); 
}

.head{
  background: #053757;
  color: #fff;
}

.button-color{
  background: #152238;
  color: #fff;
}

.input-group input{
  font-style: italic;
}

.input-group span{
  background: #152238;
}

.actionss p{
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}
body .login-form{
  background: #152238 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}
body,
html,
.App,
.vue-tempalte,
.vertical-center {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #dbd6d6;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
  margin-top: 160px;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;    
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #2554FF;
}

.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: #222222;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  width: 65px;
  vertical-align: middle;
  border: 1px solid #e3e8f9;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  background: #f4f6ff;
}

.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #222222;
}